<div class="row" data-ng-controller="ClipboardHistoryCtrl">
  <div class="col-xs-12 no-padding no-margin">
    <div class="panel panel-default">
      <ul class="list-group">
        <li class="list-group-item">
          <div class="row">
            <div class="col-xs-9">
              <h4 class="no-padding no-margin">Basic panel example</h4>
              <h6>2 mins</h6>
            </div>
            <div class="col-xs-3">
              <div class="row no-padding no-margin">
                <center>
                  <a ng-click="clickDelete()"><span class="glyphicon glyphicon-remove pull-right"></span></a>
                  <a ng-click="clickFavourite()"><span class="glyphicon pull-right" ng-class="favClass"></span></a>
                </center>
              </div>
              <div class="row no-padding no-margin">
                <button class="btn btn-sm pull-right" ngclipboard ngclipboard-success="onCopy(e);" data-clipboard-text="This is the copied text.">
                  <img src="images/clippy.svg"></img>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
